# Dependências
node_modules/

# Arquivos compilados
dist/

# Logs
logs/
*.log

# Arquivos de teste
coverage/

# Arquivos de ambiente
.env
.env.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo

# Arquivos de backup
src/backup/ 