# Source
src/
tests/

# Config
.git/
.gitignore
.github/
.vscode/
.editorconfig
.eslintrc
.prettierrc
tsconfig.json

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 